<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdjy.bigdata.antun.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.zdjy.bigdata.antun.entity.Users" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name1" property="name1" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birth" property="birth" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="idno" property="idno" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="town" property="town" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="mid" property="mid" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="status1" property="status1" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="tend1" property="tend1" jdbcType="VARCHAR" />
    <result column="tend2" property="tend2" jdbcType="VARCHAR" />
    <result column="tend3" property="tend3" jdbcType="VARCHAR" />
    <result column="tend4" property="tend4" jdbcType="VARCHAR" />
    <result column="tend5" property="tend5" jdbcType="VARCHAR" />
    <result column="tend6" property="tend6" jdbcType="VARCHAR" />
    <result column="tend7" property="tend7" jdbcType="VARCHAR" />
    <result column="tend8" property="tend8" jdbcType="VARCHAR" />
    <result column="tend9" property="tend9" jdbcType="VARCHAR" />
    <result column="tend10" property="tend10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name1, sex, birth, phone, idno, province, city, town, cid, mid, pid, insert_time, 
    send_time, status1, uid, code, result, tend1, tend2, tend3, tend4, tend5, tend6, 
    tend7, tend8, tend9, tend10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zdjy.bigdata.antun.entity.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zdjy.bigdata.antun.entity.UsersExample" >
    delete from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zdjy.bigdata.antun.entity.Users" >
    insert into users (id, name1, sex, 
      birth, phone, idno, 
      province, city, town, 
      cid, mid, pid, insert_time, 
      send_time, status1, uid, 
      code, result, tend1, 
      tend2, tend3, tend4, 
      tend5, tend6, tend7, 
      tend8, tend9, tend10
      )
    values (#{id,jdbcType=BIGINT}, #{name1,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{birth,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{idno,jdbcType=VARCHAR}, 
      #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, #{town,jdbcType=INTEGER}, 
      #{cid,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{status1,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{code,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR}, #{tend1,jdbcType=VARCHAR}, 
      #{tend2,jdbcType=VARCHAR}, #{tend3,jdbcType=VARCHAR}, #{tend4,jdbcType=VARCHAR}, 
      #{tend5,jdbcType=VARCHAR}, #{tend6,jdbcType=VARCHAR}, #{tend7,jdbcType=VARCHAR}, 
      #{tend8,jdbcType=VARCHAR}, #{tend9,jdbcType=VARCHAR}, #{tend10,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdjy.bigdata.antun.entity.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name1 != null" >
        name1,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="idno != null" >
        idno,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="town != null" >
        town,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="status1 != null" >
        status1,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="tend1 != null" >
        tend1,
      </if>
      <if test="tend2 != null" >
        tend2,
      </if>
      <if test="tend3 != null" >
        tend3,
      </if>
      <if test="tend4 != null" >
        tend4,
      </if>
      <if test="tend5 != null" >
        tend5,
      </if>
      <if test="tend6 != null" >
        tend6,
      </if>
      <if test="tend7 != null" >
        tend7,
      </if>
      <if test="tend8 != null" >
        tend8,
      </if>
      <if test="tend9 != null" >
        tend9,
      </if>
      <if test="tend10 != null" >
        tend10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name1 != null" >
        #{name1,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idno != null" >
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="town != null" >
        #{town,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status1 != null" >
        #{status1,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="tend1 != null" >
        #{tend1,jdbcType=VARCHAR},
      </if>
      <if test="tend2 != null" >
        #{tend2,jdbcType=VARCHAR},
      </if>
      <if test="tend3 != null" >
        #{tend3,jdbcType=VARCHAR},
      </if>
      <if test="tend4 != null" >
        #{tend4,jdbcType=VARCHAR},
      </if>
      <if test="tend5 != null" >
        #{tend5,jdbcType=VARCHAR},
      </if>
      <if test="tend6 != null" >
        #{tend6,jdbcType=VARCHAR},
      </if>
      <if test="tend7 != null" >
        #{tend7,jdbcType=VARCHAR},
      </if>
      <if test="tend8 != null" >
        #{tend8,jdbcType=VARCHAR},
      </if>
      <if test="tend9 != null" >
        #{tend9,jdbcType=VARCHAR},
      </if>
      <if test="tend10 != null" >
        #{tend10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zdjy.bigdata.antun.entity.UsersExample" resultType="java.lang.Integer" >
    select count(*) from users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update users
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name1 != null" >
        name1 = #{record.name1,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.birth != null" >
        birth = #{record.birth,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.idno != null" >
        idno = #{record.idno,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=INTEGER},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=INTEGER},
      </if>
      <if test="record.town != null" >
        town = #{record.town,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status1 != null" >
        status1 = #{record.status1,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=INTEGER},
      </if>
      <if test="record.result != null" >
        result = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.tend1 != null" >
        tend1 = #{record.tend1,jdbcType=VARCHAR},
      </if>
      <if test="record.tend2 != null" >
        tend2 = #{record.tend2,jdbcType=VARCHAR},
      </if>
      <if test="record.tend3 != null" >
        tend3 = #{record.tend3,jdbcType=VARCHAR},
      </if>
      <if test="record.tend4 != null" >
        tend4 = #{record.tend4,jdbcType=VARCHAR},
      </if>
      <if test="record.tend5 != null" >
        tend5 = #{record.tend5,jdbcType=VARCHAR},
      </if>
      <if test="record.tend6 != null" >
        tend6 = #{record.tend6,jdbcType=VARCHAR},
      </if>
      <if test="record.tend7 != null" >
        tend7 = #{record.tend7,jdbcType=VARCHAR},
      </if>
      <if test="record.tend8 != null" >
        tend8 = #{record.tend8,jdbcType=VARCHAR},
      </if>
      <if test="record.tend9 != null" >
        tend9 = #{record.tend9,jdbcType=VARCHAR},
      </if>
      <if test="record.tend10 != null" >
        tend10 = #{record.tend10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update users
    set id = #{record.id,jdbcType=BIGINT},
      name1 = #{record.name1,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      birth = #{record.birth,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      idno = #{record.idno,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=INTEGER},
      city = #{record.city,jdbcType=INTEGER},
      town = #{record.town,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=VARCHAR},
      mid = #{record.mid,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=VARCHAR},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      status1 = #{record.status1,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      code = #{record.code,jdbcType=INTEGER},
      result = #{record.result,jdbcType=VARCHAR},
      tend1 = #{record.tend1,jdbcType=VARCHAR},
      tend2 = #{record.tend2,jdbcType=VARCHAR},
      tend3 = #{record.tend3,jdbcType=VARCHAR},
      tend4 = #{record.tend4,jdbcType=VARCHAR},
      tend5 = #{record.tend5,jdbcType=VARCHAR},
      tend6 = #{record.tend6,jdbcType=VARCHAR},
      tend7 = #{record.tend7,jdbcType=VARCHAR},
      tend8 = #{record.tend8,jdbcType=VARCHAR},
      tend9 = #{record.tend9,jdbcType=VARCHAR},
      tend10 = #{record.tend10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdjy.bigdata.antun.entity.Users" >
    update users
    <set >
      <if test="name1 != null" >
        name1 = #{name1,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idno != null" >
        idno = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="town != null" >
        town = #{town,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status1 != null" >
        status1 = #{status1,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="tend1 != null" >
        tend1 = #{tend1,jdbcType=VARCHAR},
      </if>
      <if test="tend2 != null" >
        tend2 = #{tend2,jdbcType=VARCHAR},
      </if>
      <if test="tend3 != null" >
        tend3 = #{tend3,jdbcType=VARCHAR},
      </if>
      <if test="tend4 != null" >
        tend4 = #{tend4,jdbcType=VARCHAR},
      </if>
      <if test="tend5 != null" >
        tend5 = #{tend5,jdbcType=VARCHAR},
      </if>
      <if test="tend6 != null" >
        tend6 = #{tend6,jdbcType=VARCHAR},
      </if>
      <if test="tend7 != null" >
        tend7 = #{tend7,jdbcType=VARCHAR},
      </if>
      <if test="tend8 != null" >
        tend8 = #{tend8,jdbcType=VARCHAR},
      </if>
      <if test="tend9 != null" >
        tend9 = #{tend9,jdbcType=VARCHAR},
      </if>
      <if test="tend10 != null" >
        tend10 = #{tend10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdjy.bigdata.antun.entity.Users" >
    update users
    set name1 = #{name1,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birth = #{birth,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      idno = #{idno,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      town = #{town,jdbcType=INTEGER},
      cid = #{cid,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      status1 = #{status1,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      code = #{code,jdbcType=INTEGER},
      result = #{result,jdbcType=VARCHAR},
      tend1 = #{tend1,jdbcType=VARCHAR},
      tend2 = #{tend2,jdbcType=VARCHAR},
      tend3 = #{tend3,jdbcType=VARCHAR},
      tend4 = #{tend4,jdbcType=VARCHAR},
      tend5 = #{tend5,jdbcType=VARCHAR},
      tend6 = #{tend6,jdbcType=VARCHAR},
      tend7 = #{tend7,jdbcType=VARCHAR},
      tend8 = #{tend8,jdbcType=VARCHAR},
      tend9 = #{tend9,jdbcType=VARCHAR},
      tend10 = #{tend10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>